<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.claritylink.r7e1.displaydiag">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
    <application android:label="ClarityLink Display Diagnostic" android:allowBackup="false">
        <activity android:name="org.claritylink.android.R7E1DisplayDiagnosticActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
