<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.claritylink.r7c2.test">
    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />
    <application android:label="ClarityLink R7C2 Offline Test">
        <activity android:name="org.claritylink.android.R7C6SmokeActivity"
            android:exported="true" />
        <activity android:name="org.claritylink.android.R7C7LifecycleGuardActivity"
            android:exported="true" />
        <activity android:name="org.claritylink.android.R7C2RuntimeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
